<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jzheadley.eat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">

        <activity android:name=".views.NearbyRestaurantActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.RestaurantDetailsActivity"
            android:parentActivityName=".views.NearbyRestaurantActivity" />

        <activity
            android:name=".views.RestaurantsOwnedByOwnerActivity"
            android:parentActivityName=".views.NearbyRestaurantActivity" />

        <activity
            android:name=".views.HelpActivity"
            android:parentActivityName=".views.NearbyRestaurantActivity" />

        <activity
            android:name=".views.SettingsActivity"
            android:parentActivityName=".views.NearbyRestaurantActivity" />

        <activity
            android:name=".views.RestaurantCreationActivity"
            android:parentActivityName=".views.RestaurantsOwnedByOwnerActivity" />

        <activity
            android:name=".views.RestaurantMenuActivity"
            android:parentActivityName=".views.RestaurantDetailsActivity" />

        <activity
            android:name=".views.OpeningHoursActivity"
            android:parentActivityName=".views.RestaurantCreationActivity" />
    </application>

</manifest>